{% extends 'base.html' %}

{% block title %}

    index

{% endblock %}

{% block content %}
  <h2 style="font-family: 'Playfair Display', serif; text-align: center;">Корпус анекдотов</h2>
		<br>
		<form class="container" action="/process">
			<br>
			<div class="row">
				<div class="col-md-4" style="font-family: 'Playfair Display', serif;">Какое слово вы хотите найти в корпусе?</div>
				<div class="col-md-4"><input type="text" name="zapros" style="font-family: 'Playfair Display', serif; color:#516e99;" placeholder="спрашивает+VERB"></div>
			</div>
			<br>
			<div class="row">
				<input class="submit" style="font-family: 'Playfair Display', serif; color:#9F82CA;" type="submit" name="submit" value="найти">
			</div>
		</form>



{% endblock %}